.profileContainer{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profileSideBar {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
}

.profileSideBar h1  {
    padding-bottom: 2px;
    margin-bottom: 1em;
    border-bottom: 1px solid #dedede;
}

.profileLinks ul {
    list-style: none;
}

.profileLinks ul li a {
    font-size: 25px;
    padding-bottom: 2px;
    margin-bottom: 1em;
}

.profileSettings {
    background-color: transparent;
    height: 100%;
    width: 80%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.profileSettings::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.profileSettings h2 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
}

.profileSettings .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 20px;
}

.profileSettings form {
    padding: 0;
    border-top: 0;
}

.profileSettings form input[type = "text"],
.profileSettings form input[type = "email"],
.profileSettings form input[type = "password"] {
    width: 300px;
    height: 40px;
    font-size: 15px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    padding: 0 5px;
}

.profileSettings form input[type = "submit"] {
    width: 300px;
    height: 40px;
    font-size: 15px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    text-align: center;
}