*{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1050px;
    min-height: 100%;
    background-color: #141414;
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 70px;
}

main,
footer {
    color: #ffffff;
}

footer {
    width: 100%;
    background-color: #141414;
    text-align: center;
    padding: 10px;
    border-top: #808080 solid 2px;
    border-bottom: #808080 solid 2px;
}

a {
    text-decoration: none;
}

.modalContainer {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modalContainer.show {
    opacity: 1;
    pointer-events: auto;
}

.previewContainer {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.previewContainer a {
    text-decoration: none;
}

.previewContainer a h2 {
    color: #e5e5e5;
    padding-bottom: 1em;
}

.previewContainer a h2:hover {
    color: #ffffff;
}

.list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
}


.list .entity{
    position: relative;
    width: 230px;
    height: 129px;
    margin-right: 4px;
    display: inline-flex;
}

.list .entity img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list .entity p{
    font-size: 22px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

